@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="text-danger">Unauthorized.</h1>
<h2 class="text-danger">You are not authorized to view this page.</h2>

<p>
    If you believe you should have access to this page, please contact the site administrator.
</p>