@model MagikarpMayhem.Models.User

<h2>User Profile</h2>

<div>
    <h3>@Model.Username</h3>
    
    <div>
        <h4>Role</h4>
        <p>@Model.Role</p>
    </div>
    
    <form asp-action="Logout" method="post">
        <button type="submit">Logout</button>
    </form>
        
</div>