@using MagikarpMayhem.Services
@inject UserService UserService
@{
    ViewData["Title"] = "Home Page";
    var user = UserService.GetCurrentUser();
}

<div class="text-center">
    @if (user != null)
    {
        <h2>Welcome, @user.DisplayName!</h2>
        
        <div class="home-navigation-header">
            <p>What would you like to do today?</p>
        </div>
        
        <div class="home-navigation">
            <partial name="Partials/_HomeButton" model='new NavButtonModel { ButtonText = "Pokédex", Controller = "Pokedex", Action = "Index", Method = "get", BackgroundColor = "#FFA07A", Emoji = "🐾" }'/>
            <partial name="Partials/_HomeButton" model='new NavButtonModel { ButtonText = "My Pokémon", Controller = "Pokemon", Action = "Index", Method = "get", BackgroundColor = "#FFA07A", Emoji = "🏟️" }'/>
            <partial name="Partials/_HomeButton" model='new NavButtonModel { ButtonText = "Arenas", Controller = "Arena", Action = "Index", Method = "get", BackgroundColor = "#FFA07A", Emoji = "🏟️" }'/>

            @if (user.Role == UserRole.Professor)
            {
                <partial name="Partials/_HomeButton" model='new NavButtonModel { ButtonText = "Users", Controller = "User", Action = "Index", Method = "get", BackgroundColor = "#aeaeae", Emoji = "👤" }'/>
            }
        </div>
    }
    else
    {
        <h2>Welcome, Trainer!</h2>
        <p>Sign in to access your profile and manage your Pokémon!</p>
        
        <div class="home-navigation-header">
            <p>What would you like to do today?</p>
        </div>
        
        <div class="home-navigation">
            <partial name="Partials/_HomeButton" model='new NavButtonModel { ButtonText = "Pokédex", Controller = "Pokedex", Action = "Index", Method = "get", BackgroundColor = "#FFA07A", Emoji = "🐾" }'/>
        </div>
    }
</div>

<style>
    .home-navigation-header {
        margin-top: 4rem;
    }
    
    .home-navigation {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

</style>