<a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="~/static/logo.png" alt="Logo" style="height: 30px; transform: translateY(-8px)"/>
    <h4>
        MagikarpMayhem
    </h4>
</a>