@model int

@inject MagikarpMayhem.Services.ArenaService ArenaService

@{
    var userId = Model;
    var arenaMembership = await ArenaService.GetArenaOfUser(userId);
    var arena = await ArenaService.GetArenaById(arenaMembership.ArenaId);
    var arenaBattleRecord = arenaMembership != null && arena != null ? await ArenaService.GetArenaBattleRecordOfUser(userId, arenaMembership.ArenaId) : null;
}

@if (arenaMembership != null && arenaBattleRecord != null && arena != null)
{
    <div class="framed danger arena-record">
        <p>@arena.Name</p>
        <p>Wins: @arenaBattleRecord.Wins</p>
        <p>Losses: @arenaBattleRecord.Losses</p>
    </div>
}
else
{
    <div class="framed danger">
        <p>You are not part of any arena.</p>
    </div>
}